body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: purple;
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 16px;
    text-align: center;
    color: black;
    font-style: italic;
    margin-bottom: 10px;
}

.project-image {
    width: 200px;
    height: 130px;
    display: block;
    margin: 0 auto;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portfolio-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 230px;
}

.snowflake {
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
    z-index: -1;
    left: var(--left);
    animation: snowfall var(--speed) linear infinite;
    animation-delay: var(--delay);   

}

@keyframes snowfall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
        transform: translate3d(var(--left-end), 110vh, 0);
    }
}

.snowflake:nth-child(6n)   
 {
    filter: blur(1px);
}
